body {
    height: 100vh;
    margin: 0;
    background: radial-gradient(ellipse farthest-corner at center top, #3b3b3b, #000000);
    /*#26d6f5,#04506e*/
    color: #8b9095;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

.controlbox {
    position: absolute;
    top: 0;
    left: 0;
    /* 其他样式属性 */
}
.controlbox button {
    background-color: rgba(0, 0, 0, 0.163);
    color: rgb(218, 215, 215);
    border: none;
    padding: 5px;
    width: 30px;
    /* border-radius: 5px; */
}

.controlbox button:hover {
    border-radius: 10px;
    background-color: rgba(3, 117, 135, 0.663);

}

.controlbox button:active {
    background-color: rgba(131, 230, 246, 0.928);
    color: rgb(131, 130, 130);
}

#pagenum {
    background-color: transparent;

    border: none;
}

.hide {
    opacity: 0;
    display: none !important;
}

.room {
    color: black;
    border: 1px solid black;
    width: 200px;
    height: 200px;
}

.app {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 940px;
    height: 590px;
    background: #363535c6;
    font-size: 0;
    border-radius: 15px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}



header {
    padding: 30px;
    position: relative;
    height: 70px;
}

header h1 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #c0c6d0;
}

header h1 strong {
    background: #4c524f;
    color: #fff;
    display: inline-block;
    border-radius: 30px;
    padding: 6px;
    font-size: 83%;
    line-height: 1;
    position: relative;
    top: -1px;
    left: 2px;
}

.icon {
    --iconsize: 128px;
    --marginsize: 30px;
    height: var(--iconsize);
    width: var(--iconsize);
    margin: var(--marginsize) var(--marginsize);
    background-color: #20202031;
    display: inline-block;
    transition: 0.22s;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.178), 2px 2px 4px rgba(0, 0, 0, 0.308);
    border-radius: 30px;
    background-size: contain;
}

.icon:hover {
    transform: scale(1.2);
    background-color: #f3f3f34b;
    transition: 0.12s;

}

.icon:active {
    transform: scale(1.1);
    background-color: #f3f3f3;
}


.context-menu {
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: 10000;
    width: 150px;
    background: #c4c4c48a;
    border-radius: 5px;
    transform-origin: top left;
    backdrop-filter: blur(20px);
    transform: scale(0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.384);
}

.active {
    transform: scale(1);
    transition: transform 200ms ease-in-out;

}

.context-menu .item {
    padding: 6px 10px;
    font-size: 15px;
    color: rgb(3, 3, 3);
    border-left: 2px double rgba(5, 219, 247, 0);
}

.context-menu .item:hover {
    border-left: 6px solid rgba(1, 9, 10, 0.993);
    cursor: alias;
    transition: 0.2s;

}

.context-menu hr {
    margin: 0px 0px;
    border-color: rgba(7, 7, 7, 0.123);
}

a {
    text-decoration: none;
}

.mobile {
    font-size: x-large;
    position: fixed;
    top: 10px;
    right: 10px;
    opacity: 80%;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    body {
        background: #333334;
    }
    .controlbox {
        position: fixed;
        bottom: 10px;
        right: 10px !important;
        left: auto !important;
        top:auto !important;
        /* 其他样式属性 */
    }
    .app {
        background-color: transparent;
        box-shadow: none;
        width: 100%;
        height: auto;
        top: 190px;
        left: 0px;
        transform: none;
        padding-bottom: 90px;
    }

    .icon {
        --iconsize: 138px !important; 
        --marginsize: 26px !important;
        height: var(--iconsize);
        width: var(--iconsize);
        margin: var(--marginsize) !important;
    }
}